* {
    box-sizing: border-box;
    font-family: "Open Sans";
    transition: all 0.2s;
}

body {
    background: url('fonas.png') repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.titulinis-heading {
    width: 100%;
    margin: 25px 0;
    background-color: rgba(250,235,215, 0.7);
    text-align: center;
}

.titulinis-heading h1 {
    color: grey;
    padding: 25px;
}

.titulinis-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.titulinis-thumbnail {
    background-color: rgba(250,235,215, 0.7);
    text-align: center;
    color: grey;
    box-shadow: 2px 2px 2px grey;
    margin: 25px;
}

.titulinis-thumbnail img {
    width: 95%;
    max-width: 200px;
    margin: 10px;
}

.titulinis-thumbnail h4 {
    padding: 10px;
}

.pavyzdys {
    margin: 50px auto;
    background-color: rgba(250,235,215, 0.7);
    text-align: center;
}

.pavyzdys img {
    width: 500px;
    margin: 25px auto;
    transform: scale(0.75, 0.75);
    transition: transform 1s;
}

.pavyzdys img:hover {
    transform: scale(1, 1);
}

.pavyzdys h2 {
    padding-top: 25px;
}

.dezes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stalas-container {
    width: 520px;
    height: 520px;
    position: relative;
    margin: 50px 25px;
}

.stalas-container img {
    width: 100%;
}

.stalas {
    position: absolute;
    width: 500px;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: white;
}


.stalas, .deze {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deze {
    width: 550px;
    height: 550px;
    align-items: flex-start;
}

.palaidas {
    height: 50px;
    margin: 2px;
    transition: all 0.5s;
}

.palaidas:hover {
    transform: scale(1.5, 1.5);
}

.langelis {
    width: 50px;
    height: 50px;
    border: 1px dotted antiquewhite;
}
